<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3d93ed7361.js" crossorigin="anonymous"></script>
    <title>Passcode</title>
</head>
<body onload="checkColour()">
    {% if session['authenticated'] %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <div class="form-inline my-2 my-lg-0">
                <a href="/logout" class="btn btn-danger my-2 my-sm-0" type="submit">Logout</a>
            </div>
            </div>
        </nav>


        <div class="w-100 text-center p-5 mt-4" style="background-color: #94CAD5; border-radius: 22px;">
            <h2 class="pb-5">Severn Bridge Status: {{status}}</h2>
            <i class="{{symbol}} fa-10x" id="symbol"></i>
            <p class="pt-5">Last Updated: {{date}} at {{time}}</p>
        </div>

        <div class="container footer fixed-bottom">

            <footer class="bg-dark text-center text-white">

            <div class="container p-4 pb-0">
            <section class="mb-4">

                <a class="btn btn-outline-light btn-floating m-1" href="https://spencerroffey.com" target="_blank" role="button">
                    <i class="fa-solid fa-w"></i>
                </a>

                <a class="btn btn-outline-light btn-floating m-1" href="#!" target="_blank" role="button">
                    <i class="fab fa-linkedin-in"></i>
                </a>

                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/sroffey-github" target="_blank" role="button">
                    <i class="fab fa-github"></i>
                </a>
                
            </section>
            </div>

            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="https://spencerroffey.com/" target="_blank">spencerroffey.com</a>
            </div>

        </footer>
            
        </div>

        <script>
            function checkColour() {
                var symbol = document.getElementById('symbol');
                if (symbol.classList.contains('fa-circle-check')) {
                    symbol.style.color = "#34B233";
                } else {
                    symbol.style.color = "#CC0200";
                }
            }
        </script>

    {% else %}

        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">Enter Passcode</a>
        </nav>

        <form action="" method="POST" class="jumbotron vertical-center mt-5">
            <div class="form-group container">
                <input type="text" name="passcode" class="form-control" placeholder="PASSCODE"><br>
                <input type="submit" class="btn btn-success w-75 text-center w-100">
            </div>

            {% for msg in get_flashed_messages() %}
                <div class="alert alert-danger" role="alert">
                    {{msg}}
                </div>
            {% endfor %}
        </form>

    {% endif %}


</body>
</html>